
soc_msgs:
  conn: 'connect'
  playstop: 'playingstop'
  playstart: 'playstart'
  playend: 'fileplayend'
  updateplaylist: 'playlist'
  removefile: 'fileremove'
  uploadfile: 'upload'
  sendcurrenttime: 'currentTime'
  changename: 'changename'
  updateuserlist: 'updateuserlist'
  getcurrenttime: 'getcurrenttime'
  retcurrenttime: 'retcurrenttime'

host: 'localhost'
port: '3000'

mime_types:
  audio: ['audio/aac','audio/mp3','audio/mpeg','audio/mp4','audio/ogg','audio/wav','audio/wave','audio/x-m4a']
  video: ['video/mpeg','video/mp4','video/ogg','video/x-msvideo']


